<div class="container">
<% @users.each do |user| %>
  <div>
    <img src=<%= user.photo %>>
    <div>
      <h1><%= user.name %></h1>
      <p>Number of posts: <%= user.posts_counter %></p>
    </div>
  </div>
<% end %>
</div>
